@tailwind base;
@tailwind components;
@tailwind utilities;


/* body {
  font: font-sans;
} */

@layer base {
  body {
    font-family: sans-serif;
  }
}

@media (prefers-color-scheme: dark) {

}

@layer components {
  .lightmodebasic {
    color: rgb(var(--foreground-rgb));
  background-image: linear-gradient(
    325deg,
    hsl(0deg 0% 100%) 0%,
    hsl(210deg 94% 99%) 20%,
    hsl(210deg 94% 99%) 31%,
    hsl(210deg 94% 98%) 40%,
    hsl(210deg 94% 97%) 48%,
    hsl(209deg 94% 96%) 56%,
    hsl(209deg 94% 96%) 64%,
    hsl(209deg 94% 95%) 73%,
    hsl(209deg 94% 94%) 84%,
    hsl(209deg 94% 94%) 100%
  );
  color: rgb(27, 26, 26);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  }
  .darkmodebasic {
    background-image: none;
    background-color: #27272a;
    color: rgb(186, 195, 204);
  }
}